body {
  background: #edf1f2;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#wrap{
  width: 800px;
}
header {
  background: #edf1f2;
  margin: 12px 0 0 0;
  padding: 0 24px;
  text-align: center;
}
header h1 {
  background: linear-gradient(100deg, #2b8c8b 50%, #edf1f2 0%, #edf1f2 51%,#edf1f2 6%);
  border: 5px solid #2b8c8b;
  color: #fff;
  font-family: futura,'ヒラギノ角ゴ ProN E3';
  letter-spacing: 10px;
  font-weight: 500;
  margin: 0;
  padding: 8px 0 6px 0;
}
#global_menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#global_menu ul li {
  color: #777;
  font-family: futura;
  font-size: 10px;
  font-weight: 400;
  list-style: none;
  margin: 0 3px 0 3px;
  padding: 5px 6px 0 6px;
}
#main_slider {
  margin: 12px 0;
  padding: 0;
  width: 100%;
}
#main_slider ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 0 5px 0 0;
  padding: 0;
}
#main_slider span {
  color: #999;
  display: block;
  font-family: futura;
  font-size: 13px;
  margin: 0;
  padding: 0 12px;
}
#main_slider ul li {
  background: #fff;
  list-style: none;
  margin: 5px;
  padding: 2px;
  width: 8em;
}
#main_slider ul li img {
  margin: 0;
  padding: 0;
  width: 8em
}
#main_slider li p {
  color: #555;
  font-size: 8px;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-weight: 600;
  text-align: justify;
  margin: 0;
  padding: 0 5px 5px 5px;
}
#breadcrumb {
  margin: 0;
  width: 100%;
}
#breadcrumb p {
  background: #fff;
  border-radius: 0 3px 3px 0;
  color: #777;
  font-family: futura,'ヒラギノ角ゴ ProN W3';
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  padding: .3em .5em;
  text-align: justify;
}
.box {
  background: #fff;
  margin: 18px 12px;
  padding: 0;
}
.box h2 {
  background: linear-gradient(90deg,#ffaa55 40%, #edf1f2 10%);
  border-left: 8px solid #edf1f2;
  color: #fff;
  font-family: futura;
  font-size: 18px;
  font-weight: 300;
  padding: 3px 0 3px 12px;
  margin: 0;
}
.box p {
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: 16px;
}
.box .inline-box {
  margin: 0;
  padding: 0;
}
.box .inline-box h1 {
  background: #fff;
  color: #2b2b2b;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: 18px;
  margin: 0;
  padding: 2px 7px 0 7px;
  text-align: justify;
}
.box .inline-box img {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin: 0;
  width: 100%;
}
.box .inline-box h2 {
  background: #555;
  border-left: .5em solid #2b8c8b;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
}
.box .inline-box h3 {
  border-bottom: 2px solid #2b8c8b;
  color: #333;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-weight: 400;
  margin: 1em 0 1px 0;
  padding: 0 12px;
  text-align: justify;
}
.box .inline-box p{
  color: #333;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: 15px;
  padding: 13px 18px;
  text-align: justify;
  margin: 0;
}
